/* MAIN */

/*  
    Main  colors:
    purple: #3f2caa
    dark: #16181c
    orange #ff5300
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: rgb(26, 29, 27);
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}

nav {
    height: 54px;
    background-color: rgb(26, 29, 27);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    margin: auto;
}

nav a, a:focus, a:visited {
    line-height: 38px;
    margin: 8px 0;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Space Mono', monospace;
    text-transform: lowercase;
}

nav a:hover {
    color: #ff5300;
}

footer {
    height: 75px;
    background-color:rgb(26, 29, 27)181c;
    color: white;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-container {
    display: flex;
    height: 100%;
}

.footer-container div {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
}

.splash {
    display: flex;
    flex-direction: column;
    background-color: #0d2241;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
    font-family: Montserrat, sans-serif;
    height: 100vh;
}

.splash-title {
    margin: 150px auto 25px auto;
}

.splash-title > h1 {
    font-size: 46px;
    font-weight: 500;
    letter-spacing: 3px;
}

.splash-info {
    display: flex;
    margin: 0 auto auto auto;
}

.splash-info > div {
    margin: 10px;
    padding: 5px;
}

.splash-info > div > h3 {
    margin: 8px 5px 5px 7px;
    letter-spacing: 2px;
    font-weight: 400;
}

section {
    width: 75%;
    margin: 3em auto;
}

section > .title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    font-family: 'Space Mono', monospace;
    text-transform: lowercase;
    color: white;
}

.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2em;
    grid-column-gap: 2em;
    margin: 2em auto;
}

.videos iframe {
    max-width: 100%;
}

.countdown-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    height: 20vh;
}

.countdown-days {
    font-size: 72px;
    display: flex;
    margin: auto;
}

.countdown-clock {
    font-size: 48px;
    display: flex;
    margin: auto;
}

.day-item-container {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
}

.day-item-container .day-title {
    font-size: 24px;
    margin-bottom: 5px;
}

.profile {
    display: flex;
    margin: 10px;
}

.profile .profile-img {
    width: 80px;
    height: 80px;
    background-color: #cccccc;
    border-radius: 50%;
    margin: 10px;
}

.profile .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.flight-info {
    display: flex;
}

.flights > .details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.flight-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.flight-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
}

.flight-type {
    font-size: 24px;
}

.flight-details div {
    margin: 5px;
}

.flight-connection {
    display: flex;
}

.flight-details .time {
    font-size: 42px;
}

.flight-date {
    margin: 20px 0;
}

.flex {
    display: flex;
}