/* MAIN */

/*  
    Main  colors:
    purple: #3f2caa
    dark: #16181c
    orange #ff5300
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: rgb(26, 29, 27);
  color: white;
  max-width: 100%;
  font-size: 14px;
  overflow-x: hidden;
}

h1, h2,h3,h4,h5,h6 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
}

h5 {
    font-size: 1em;
}

h4 {
    font-size: 1.5em;
}

h3 {
    font-size: 2em;
}

h2 {
    font-size: 2.5em;
}

h1 {
    font-size: 3em
}

nav {
    height: 54px;
    background-color: rgb(26, 29, 27);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

nav a, a:focus, a:visited {
    line-height: 38px;
    margin: 8px 0;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Space Mono', monospace;
    text-transform: lowercase;
}

nav a:hover {
    color: #ff5300;
}

footer {
    height: 75px;
    background-color:rgb(26, 29, 27)181c;
    color: white;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-container {
    display: flex;
    height: 100%;
}

.footer-container div {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
}

.splash {
    display: flex;
    flex-direction: column;
    background-color: #0d2241;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
    background-position: 75% 75%;
    font-family: Montserrat, sans-serif;
    height: 100vh;
}

.splash-title {
    margin: 150px auto 0 auto;
}

.splash-title > h1 {
    font-size: 46px;
    font-weight: 500;
    letter-spacing: 3px;
}

.splash-info {
    display: flex;
    margin: 30px auto;
}

.splash-info > div {
    margin: 10px;
    padding: 5px;
}

.splash-info > div > h4 {
    margin: 8px 5px 5px 7px;
}

section {
    margin: 3em auto;
}

section > .title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    font-family: 'Space Mono', monospace;
    text-transform: lowercase;
    color: white;
}

section.intro {
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

.intro-container {
    margin: auto;
    margin-top: 50px;
}

.intro-paragraph {
    font-weight: 300;
    font-size: 21px;
    line-height: 44px;
}

.intro-quote {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    text-align: right;
    font-style: italic;
}

.quote {
    margin-bottom: 0px;
}

.quote-icon {
    margin: 0 7px -7px 9px;
}

.author {
    font-style: normal;
    margin-right: 10px;
}

.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2em;
    grid-column-gap: 2em;
    margin: 2em auto;
}

.videos iframe {
    max-width: 100%;
}

.countdown-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto auto auto;
    color: white;
    height: 20vh;
}

.countdown-days {
    font-size: 72px;
    display: flex;
    margin: 0 auto;
}

.countdown-clock {
    font-size: 48px;
    display: flex;
    margin: 0 auto;
}
.agenda p {
    font-size: 18px;
}
.agenda-container {
    display: flex;
    margin-top: 20px;
}

.day-item-container {
    display: flex;
    flex-direction: row;
    padding: 10px 30px 30px 30px;
}

.day-item-content {
    margin-left: 20px;
}

.vertical-line {
    width: 3px;
    height: auto;
    background-color: white;
}

.day-header {
    font-size: 20px;
}

.day-item {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 22px;

}

.day-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.day-desc {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 58px;
}

.day-desc span {
    margin-bottom: 8px;
}

.day-author {
    font-size: 12px;
}

.profile {
    display: flex;
    flex-direction: column;
    margin: 1px;
    align-items: center;
}

.profile .profile-img {
    display: block;
    max-width: 250px;
    max-height: 333px;
    width: 100%;
    height: auto;
}

.profile .name {
    text-align: left;
    margin: 10px 0;
}

.flight-info {
    display: flex;
}

.flights > .details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.flight-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.flight-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
}

.flight-type {
    font-size: 24px;
}

.flight-details div {
    margin: 5px;
}

.flight-connection {
    display: flex;
}

.flight-details .time {
    font-size: 42px;
}

.flight-date {
    margin: 20px 0;
}

.flex {
    display: flex;
}

.venue-img {
    display: block;
    max-width: 100%;
    height: auto;
}
