/* MAIN */
@import url(https://fonts.googleapis.com/css?family=Montserrat:500|Lato:300,400|Space+Mono);
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #16181c;
  color: white;
  max-width: 100%;
  font-size: 14px;
  overflow-x: hidden; }

img {
  border-radius: 4px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
  font-weight: 400; }

h5 {
  font-size: 1em; }

h4 {
  font-size: 1.5em; }

h3 {
  font-size: 2em; }

h2 {
  font-size: 2.5em; }

h1 {
  font-size: 3em; }

nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #16181c;
  color: white;
  -webkit-box-shadow: 0px 0px 40px 1px rgba(12, 12, 12, 0.3);
  -moz-box-shadow: 0px 0px 40px 1px rgba(12, 12, 12, 0.3);
  box-shadow: 0px 0px 40px 1px rgba(12, 12, 12, 0.3); }

nav .nav-container {
  display: flex;
  justify-content: space-between;
  margin: auto; }

nav .nav-container .nav-content {
  display: flex;
  align-items: center; }

nav a {
  padding: 0 15px;
  text-decoration: none;
  font-weight: 300;
  font-family: 'Space Mono', monospace;
  text-transform: lowercase; }

nav a:focus, nav a:visited {
  padding: 0 15px;
  text-decoration: none;
  font-weight: 300;
  font-family: 'Space Mono', monospace;
  text-transform: lowercase;
  color: white; }

nav a:hover {
  color: #00ffb1; }

nav p {
  padding: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  float: left; }

footer {
  height: 75px;
  background-color: #1a1d1b 181c;
  color: white;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0; }

.footer-container {
  display: flex;
  height: 100%; }

.footer-container div {
  margin: auto; }

main {
  display: flex;
  flex-direction: column; }

.splash {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #16181c;
  font-family: Montserrat, sans-serif;
  margin-top: 45px;
  color: white;
  background-image: url("./img/computer.jpg");
  background-repeat: no-repeat;
  background-position: 25% 25%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.splash .splash-container {
  background-color: rgba(22, 24, 29, 0.8);
  padding: 50px 9vw;
  border-radius: 4px; }

.splash .splash-info-container .splash-info {
  display: flex;
  margin: 10px 0; }

.splash .splash-info-container .splash-info h4 {
  margin: 8px 5px 5px 10px; }

.splash .splash-info-container div:last-child {
  justify-content: flex-end; }

.splash .intro-container {
  font-family: 'Lato', sans-serif; }

.splash .intro-container .intro-paragraph {
  font-weight: 300;
  font-size: 19px;
  line-height: 44px; }

.splash .intro-container .intro-quote {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  text-align: right;
  font-style: italic;
  padding-bottom: 30px; }

.splash .intro-container .intro-quote .quote {
  margin-bottom: 0px; }

.splash .intro-container .intro-quote .quote-icon {
  margin: 0 7px -7px 9px; }

.splash .intro-container .intro-quote .author {
  font-style: normal;
  margin-right: 10px;
  font-family: Montserrat, sans-serif; }

.splash svg {
  color: #00ffb1; }

section {
  margin: 3em auto; }

section .title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  font-family: 'Space Mono', monospace;
  text-transform: lowercase;
  color: #00ffb1; }

.section-container {
  padding-top: 16px; }

.hovering {
  -webkit-box-shadow: 0px 0px 40px 1px #0c0c0c;
  -moz-box-shadow: 0px 0px 40px 1px #0c0c0c;
  box-shadow: 0px 0px 40px 1px #0c0c0c;
  border-radius: 4px; }

.videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2em;
  grid-column-gap: 2em;
  margin: 2em auto; }

.videos iframe {
  max-width: 100%; }

.countdown-container {
  display: flex;
  flex-direction: column;
  margin: 15px auto auto auto;
  color: white;
  height: 20vh; }

.countdown-cell {
  padding: 20px 0 30px 0; }

.countdown-cell .value {
  font-size: 80px;
  text-align: center; }

.countdown-cell .unit {
  font-size: 24px;
  text-align: center; }

.agenda-container {
  padding: 30px 10px 0 10px; }

.agenda p {
  font-size: 18px; }

.day-item-container {
  display: flex;
  flex-direction: row;
  padding: 10px 30px 30px 30px; }

.day-item-container svg {
  color: #00ffb1; }

.day-item-content {
  margin-left: 20px; }

.day-header {
  font-size: 20px;
  font-weight: 600; }

.day-header div {
  margin-right: 10px; }

.day-header svg {
  color: #777; }

.day-item {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 32px; }

.day-title {
  font-size: 18px;
  margin-bottom: 8px; }

.day-desc {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: 58px; }

.day-desc span {
  margin-bottom: 8px; }

.day-author {
  font-size: 12px;
  color: #777; }

.profile {
  display: flex;
  flex-direction: column;
  margin: 1px;
  align-items: center; }

.profile .profile-img {
  display: block;
  max-width: 450px;
  max-height: 600px;
  width: 100%;
  height: auto; }

.profile .name {
  text-align: left;
  margin: 10px 0; }

.flight-info {
  display: flex; }

.flight-info-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center; }

.flight-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  color: white;
  margin-top: 10px; }

.flight-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 30px; }

.flight-type {
  font-size: 1.5em;
  margin-left: 15px; }

.flight-details div {
  margin: 5px; }

.flight-details .time {
  font-size: 36px;
  margin-top: 0; }

.flight-details .city {
  color: #777;
  margin-top: 10px; }

.flight-connection {
  display: flex;
  margin: 0px 10px;
  color: #dadada; }

.flight-date {
  color: #777;
  font-size: 1em;
  margin-right: 15px; }

.flight-icon {
  margin-bottom: 0 !important;
  color: black; }

.flex {
  display: flex; }

.venue-img {
  display: block;
  width: 100%;
  height: auto; }

@media (max-width: 380px) {
  .flight-connection div:nth-child(3) {
    display: none !important; }
  nav a {
    padding: 0 8px; }
  a:focus, a:visited {
    padding: 0 8px; }
  .intro-paragraph {
    font-size: 16px;
    padding: 0; }
  .author {
    font-size: 16px; } }

@media (max-width: 768px) {
  .splash-grid {
    background-color: rgba(22, 24, 29, 0.8) !important; }
  .splash {
    background-position: 65% 25%; }
  .splash .splash-container {
    padding: 0 !important;
    background-color: transparent; }
  .splash .splash-info {
    justify-content: flex-start !important;
    margin-bottom: 0 !important; } }
